*{
  margin: 0;
  padding: 0;
}

.button{
  width: 40px;
  height: 40px;
  font-size: 30px;
  margin: 1px;
  background: linear-gradient(45deg, #ffffff 0%,#ffffff 100%);
  border: none;
  color: #bd26f2
}

.textvieuw{
  margin-top: 100px;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 173px;
  height: 40px;
  font-size: 30px;
  border: none;
  color: #bd26f2
}

.tablet {
  margin-left: 20px;
  margin-bottom: 20px
}

.bg{
  width: 360px;
  height: 760px;

  background: linear-gradient(90deg, #fe35ec 0%,#7a17f8 100%);
}
